 .container {
     display: flex;
     justify-content: space-between;
     max-width: 900px;
     margin: auto;
     padding: 20px;
     margin-left: 350px;
 }


 .selection-container {
     width: 40%;
 }

 h3 {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
     color: #232360;

 }


 .model-info-btn {
     text-decoration: none;
     font-weight: bold;
     font-size: 24px;
 }

 /* Checkbox List */
 .data-type-list {
     display: flex;
     flex-direction: column;
     gap: 15px;
     padding-top: 25px;

 }



 .model-container {
     width: 50%;
 }

 .model-list {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-top: 25px;
 }

 .model-item {
     padding: 10px;
     border-radius: 6px;
     text-align: left;
     font-weight: bold;
     display: inline-block;
     width: fit-content;
     font-size: 17px;


 }

 /* Enabled Models */
 .enabled {
     background-color: white;

     color: #232360;
 }

 /* Disabled Models */
 .disabled {
     background-color: rgba(255, 255, 255, 0.4);
     color: #aaa;

     cursor: not-allowed;
 }

 .checkbox-wrapper {
     display: flex;
     align-items: center;
     gap: 10px;

     margin-bottom: 8px;
 }

 .checkbox-label {
     padding: 10px;
     border-radius: 6px;

     font-weight: bold;
     display: flex;
     width: fit-content;
     font-size: 17px;
     color: #232360;
     background-color: white;

 }


 .checkbox-input[type="checkbox"] {
     appearance: none;
     width: 28px;
     height: 28px;
     border: 2px solid #5051F9;
     ;
     border-radius: 4px;
     position: relative;
     cursor: pointer;
     transition: all 0.2s ease-in-out;
 }

 /* Hover effect */
 .checkbox-input[type="checkbox"]:hover {
     border-color: #4338CA;
 }

 /* Checked state */
 .checkbox-input[type="checkbox"]:checked {
     background-color: #5051F9;
     ;
     border-color: #5051F9;
     ;
 }

 /* Custom checkmark */
 .checkbox-input[type="checkbox"]::after {
     content: "✓";
     font-size: 14px;
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: none;
 }

 /* Show checkmark when checked */
 .checkbox-input[type="checkbox"]:checked::after {
     display: block;
 }